{{ $customDateFormat := "02.01.2006" }}
{{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}

<div class="card-content">
    <h1 class="card-title"><a href="{{ .RelPermalink }}" class="{{ default "light-blue-text" (.Site.Params.themeColor1text) }}">{{ .Title | markdownify }}</a></h1>
    <h6 class="grey-text">
        <i class="tiny material-icons">calendar_today</i>&nbsp;{{ .PublishDate.Format $customDateFormat }}{{ if gt .Lastmod .PublishDate }}, {{ i18n "lastupdated" }} {{ .Lastmod.Format $customDateFormat }}{{ end }} -
        <i class="tiny material-icons">person</i>&nbsp;{{ range .Site.Author }}{{ . }}{{ end }}
        {{ if ne .Site.Params.hideReadingTime true }}
            {{ if and (not (.Scratch.Get "showPostSummary")) (.Scratch.Get "fullsize") }}
                - <i class="tiny material-icons">timer</i>&nbsp;~{{ i18n "readingTime" .ReadingTime }}
            {{ end }}
        {{ end }}
    </h6>

    {{ if eq .Type "video" }}
    {{ else if eq .Type "audio" }}
    {{ else if eq .Type "link" }}
        <p class="center-align"><a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg" tabindex="-1" role="button"><i class="fas fa-link"></i>&nbsp;{{ .Title }}</a></p>
    {{ else if eq .Type "quote" }}
        <blockquote class="center-align">
            <p><i class="fas fa-quote-left fa-2x"></i>&nbsp;{{ .Params.quote }}&nbsp;<i class="fas fa-quote-right fa-2x"></i></p>
            <p class="grey-text"><cite title="{{ .Params.quoteauthor }}">{{ .Params.quoteauthor }}</cite></p>
        </blockquote>
    {{ end }}

    {{ if .Scratch.Get "showPostSummary" }}
        <p>{{ .Summary }}</p>

        <p><br />
            <a href="{{ .RelPermalink }}" class="{{ default "light-blue" (.Site.Params.themeColor1) }} waves-effect waves-light btn"><i class="material-icons right">navigate_next</i>{{ i18n "readmore" }}</a>
            {{ if ne .Site.Params.hideReadingTime true }}
                (<i class="tiny material-icons">timer</i>&nbsp;~{{ .ReadingTime }} Min.)
            {{end}}
        </p>
    {{ else }}
        <p class="card-text">{{ .Content }}</p>
    {{ end }}
</div>
