<footer class="page-footer {{ default "orange" (.Site.Params.themeColor2) }}">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">{{ .Site.Title }}</h5>
                <p class="grey-text text-lighten-4">{{ .Site.Params.description }}</p>
            </div>
            <div class="col l4 s12">
            <h5 class="white-text">{{ i18n "social" }}</h5>
                <ul>
                    {{- partial "social.html" . -}}
                </ul>
            </div>
            <div class="col l4 s12">
                {{ partial "i18nlist.html" . }}
                <h5 class="white-text">{{ i18n "site" }}</h5>
                <ul>
                    {{ range $index, $element := .Site.Menus.footer }}
                        {{ if .HasChildren }}
                            <li><a class="white-text" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                            {{ range .Children }}
                                <li><a class="white-text" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                            {{ end }}
                        {{ else }}
                            <li><a class="white-text" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; {{ now.Format "2006" }} {{ range .Site.Author }}{{ . }}{{ end }}.
            {{ i18n "themeby" }} <a class="{{ default "orange-text text-lighten-3" (.Site.Params.themeColor2text) }}" href="https://www.spech.de" target="_blank" rel="noopener noreferrer">Sebastian Pech</a>.
            {{ i18n "madeby" }} <a class="{{ default "orange-text text-lighten-3" (.Site.Params.themeColor2text) }}" href="http://materializecss.com" target="_blank" rel="noopener noreferrer">Materialize</a>.
        </div>
    </div>
</footer>
