<nav class="{{ default "light-blue" (.Site.Params.themeColor1) }}" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ "/" | relLangURL }}" class="brand-logo">{{ .Site.Title }}</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {{ $currentPage := . }}
            {{ range $index, $element := .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                    {{ range .Children }}
                        <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                    {{ end }}
                {{ else }}
                    <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>

        <ul id="nav-mobile" class="sidenav">
            {{ range $index, $element := .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                    {{ range .Children }}
                        <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                    {{ end }}
                {{ else }}
                    <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>
